<!DOCTYPE html>
<html lang="en">
<head>
	<title>COCOMO II SIM</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="../static/images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="../static/files/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../static/fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="../static/files/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="../static/files/daterangepicker/daterangepicker.css">
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>

<div class="jumbotron">
	<div><h3 class="text-primary text-center">Effort= {{effort}}PM</h3></div>
	<br>	<br>	<br>	<br>
		<div><h3 class="text-success text-center">Development Time= {{dev_time}} months</h3></div>
		<br>	<br>	<br>	<br>
		<div><h3 class="text-danger text-center">Cost= ${{cost}}</h3></div>
		<br>	<br>	
		<div class="container-contact100-form-btn">
		<a href="{{url_for('index')}}"><button class="contact100-form-btn">
			<span>
				New Calculation
				<i class="fa fa-long-arrow-right"></i>
			</span>
		</button>
	</a></div>
</div>
		<script src="../static/files/jquery/jquery-3.2.1.min.js"></script>
		<script src="../static/files/bootstrap/js/popper.js"></script>
		<script src="../static/files/bootstrap/js/bootstrap.min.js"></script>
		<script src="../static/files/select2/select2.min.js"></script>
		<script>
			$(".js-select2").each(function(){
				$(this).select2({
					minimumResultsForSearch: 20,
					dropdownParent: $(this).next('.dropDownSelect2')
				});
		
		
				$(".js-select2").each(function(){
					$(this).on('select2:close', function (e){
						if($(this).val() == "Please chooses") {
							$('.js-show-service').slideUp();
						}
						else {
							$('.js-show-service').slideUp();
						}
					});
				});
			})
		</script>
		<script src="../static/files/daterangepicker/moment.min.js"></script>
		<script src="../static/files/daterangepicker/daterangepicker.js"></script>
		<script src="../static/files/countdowntime/countdowntime.js"></script>
		<script>
			var filterBar = document.getElementById('filter-bar');
		
		</script>
		<script src="../static/js/main.js"></script>
		
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		
		gtag('config', 'UA-23581568-13');
		</script>
		
		</body>
		</html>
		